{% extends 'farmerbase.html' %}
{% block name %}{{farmerName.name}}{% endblock %}
{% block body%}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Your Product</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank">official DataTables documentation</a>.
    </p>

    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Product List</h6>
            <h6 class="m-0 font-weight-bold text-primary"><a href="downProdList/">Downdoad</a> </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price<em class="text-muted" style="font-size:10px"> per kg</em></th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Likes</th>
                        <th scope="col">Remove</th>
                    </tr>
                    </thead>
                    <tfoot>

                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price<em class="text-muted" style="font-size:10px"> per kg</em></th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Likes</th>
                        <th scope="col">Remove</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for product in products %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{product}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.qty}}</td>
                        <td>{{total_likes}}</td>
                        <td><a href="removeprod/{{product.id}}" class="btn btn-outline-danger btn-sm">Remove</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}