{% extends 'merchantbase.html' %}

{% block username%}
{{merchantName.name}}
{% endblock %}

{% block body%}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Buy Now</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the official DataTables documentation.
    </p>
    <!-- DataTales -->
    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity <span class="small"><em>In Quintal</em></span></th>
                        <th scope="col">Price <span class="small"><em>per kg</em></span></th>
                        <th scope="col">View</th>
                    </tr>
                    </thead>
                    <tfoot>

                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity <span class="small"><em>In Quintal</em></span></th>
                        <th scope="col">Price <span class="small"><em>per kg</em></span></th>
                        <th scope="col">View</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for product in allProduct %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{product}}</td>
                        <td>{{product.qty}}</td>
                        <td>{{product.price}}</td>
                        <td><a href="viewProd/{{product.id}}" class="btn btn-outline-success btn-sm">View</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}