{% extends 'base.html' %}
{% load static %}
    {% block body %}
    <div class="w-100 d-flex">
        <img class="m-auto" src="{% static 'images/slider_1.JPG' %}" class="img-fluid" alt="...">
    </div>
    <div class="p-3 d-flex justify-content-center align-content-center flex-column bd-highlight ">
<h3 class="text-center">About us</h3>
            <p class="text-justify m-auto" style="max-width:50rem">Natoque nec suscipit hymenaeos posuere parturient aliquam, consequat ac interdum accumsan lacinia
                vestibulum quisque. Penatibus eu. Vitae duis nam commodo, fermentum, nunc ridiculus pellentesque Blandit
                elementum eleifend. Amet. Lorem velit. Elit bibendum vel urna dapibus. Ullamcorper. Nascetur.
                Cum, accumsan, sollicitudin mattis arcu suscipit suscipit porttitor ipsum iaculis commodo montes nullam
                lectus vestibulum dui magna. Enim augue faucibus porta pulvinar velit sem. Condimentum. Parturient.
                Auctor dictumst adipiscing nam. Netus. Dignissim habitasse sed sociosqu per.
                Tempor molestie eget tempor pellentesque curabitur facilisis morbi netus class vivamus risus. Dictumst
                pharetra ante cubilia. Nec dictumst pellentesque congue hendrerit. Habitasse, sollicitudin nascetur
                consequat justo est.</p>
            </div>
    {% endblock body %}

