{% extends 'adminbase.html' %}

{% block body%}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Closing</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the official DataTables documentation.
    </p>
        <!-- DataTales -->
    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Aadhhar</th>
                        <th>Total Amount</th>
                        <th>Advance</th>
                        <th>Rest amount</th>
                        <th>Pay</th>

                    </tr>
                    </thead>
                    <tfoot>

                    <tr>
                        <th>Name</th>
                        <th>Aadhhar</th>
                        <th>Total Amount</th>
                        <th>Advance</th>
                        <th>Rest amount</th>
                        <th>Pay</th>

                    </tr>
                    </tfoot>
                    <tbody>
                    {% for b in bk %}
                    <tr>
                        <td class="">{{ b.name }}</td>
                        <td class="">{{ b.aadharno }}</td>
                        <td class="">{{ b.totalamt }}</td>
                        <td class="">{{ b.advance }}</td>
                        <td class="">{{ b.restamt }}</td>

                        <td class=""><a href="{% url 'adminapp:pay' ano=b.aadharno %}" class="btn btn-info text-light">Pay</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock body %}